<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Metas -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta name="author" content="" />

  <!-- Title  -->
  <title>Axel Cyber Enterprises</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favi.png" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

  <!-- Plugins -->
  <link rel="stylesheet" href="/css/plugins.css" />

  <!-- Core Style Css -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HS4P951GY3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-HS4P951GY3");
  </script>
</head>

<body class="loading">
  <!-- ==================== Start progress-scroll-button ==================== -->

  <div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>

  <!-- ==================== End progress-scroll-button ==================== -->

  <!-- ==================== Start cursor ==================== -->

  <div class="mouse-cursor cursor-outer"></div>
  <div class="mouse-cursor cursor-inner"></div>

  <!-- ==================== End cursor ==================== -->

  <!-- ==================== Start Navbar ==================== -->

  <nav class="navbar navbar-expand-lg nochan">
    <div class="container-xxl">
      <a class="navbar-brand" href="https://axelcyber.com">
        <div class="logo">
          <div class="logo-light">
            <img src="/img/logooo.png" alt="" />
          </div>
          <div class="logo-dark">
            <img src="/img/logo-dark.png" alt="" />
          </div>
        </div>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://axelcyber.com" role="button" aria-expanded="false">
              Home
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="about.html" role="button" aria-expanded="false">
              About Us
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="webdev.html">Web Development</a></li>
              <li><a class="dropdown-item" href="ui-ux.html">UI/UX Design</a></li>
              <li><a class="dropdown-item" href="chatbot.html">AI Chatbot</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="portfolio.html" role="button" aria-expanded="false">
              Portfolio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html"> Contact Us </a>
          </li>
        </ul>
        <div class="nav-info-right d-flex align-items-center">
          <div class="dark-mode-icon">
            <button type="button" class="theme-icon">
              <i aria-hidden="true" class="pe-7s-moon moon" title="Toggle between dark and light mode"></i>
              <i aria-hidden="true" class="pe-7s-sun sun" title="Toggle between dark and light mode"></i>
            </button>
          </div>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>

  <!-- ==================== End Navbar ==================== -->

  <main>
    <div class="vline"></div>

    <!-- ==================== Start Slider ==================== -->

    <!-- ==================== Start Slider ==================== -->

    <header class="hed-clean valign full-height position-re">
      <div class="container-xxl">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-md-11">
            <div class="cont text-center">
              <h1 class="fz-80 fw-700 mb-10">
                We at Axel, Bring the world to you
              </h1>
              <div class="circle-bord sml mt-40 cursor-pointer" data-scroll-nav="0">
                <span class="loader-circle"></span>
                <span class="loader-circle"></span>
                <div class="arow-down carrow">
                  <svg>
                    <path
                      d="M53.824 11.532a.5.5 0 01.352.936c-5.228 1.96-9.475 5.555-12.752 10.797a.5.5 0 01-.848-.53c3.39-5.424 7.81-9.163 13.248-11.203z">
                    </path>
                    <path
                      d="M53.824 12.468a.5.5 0 00.352-.936C48.948 9.572 44.7 5.978 41.424.735a.5.5 0 00-.848.53c3.39 5.424 7.81 9.163 13.248 11.203z">
                    </path>
                    <path d="M54 12.5a.5.5 0 100-1H1a.5.5 0 100 1h53z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-pattern2 opacity-2 bg-img parallaxie" data-background="/img/abs-pattern2.png"></div>
    </header>

    <!-- ==================== End Slider ==================== -->

    <!-- ==================== End Slider ==================== -->
    <!-- ==================== Start Testimonials ==================== -->

    <section class="testim-simple section-padding position-re" data-scroll-index="0">
      <div class="container-xxl ontop">
        <div class="row">
          <div class="col-12">
            <div class="testimonials simp" data-carousel="swiper" data-items="1" data-loop="true" data-space="30"
              data-speed="1000">
              <div id="content-carousel-container-unq-5" class="swiper-container" data-swiper="container">
                <div class="">
                  <div class="">
                    <div class="item">
                      <div class="row">
                        <div class="col-lg-3 valign">
                          <div class="cle-img">
                            <img src="/img/team/mofeogun.jpeg" alt="" class="" />
                          </div>
                        </div>
                        <div class="col-lg-8 offset-lg-1 valign">
                          <div class="cont">
                            <div class="qout-icon mb-30">
                              <svg xmlns="http://www.w3.org/2000/svg" width="82" height="79" viewBox="0 0 82 79"
                                fill="none">
                                <path
                                  d="M20.6258 36.5H1V1H36.7301V37.3128L20.9472 78H5.98811L21.5581 37.8617L22.0863 36.5H20.6258Z"
                                  stroke="#fff" stroke-width="1"></path>
                                <path
                                  d="M64.8957 36.5H45.2699V1H81V37.3128L65.2172 78H50.2581L65.828 37.8617L66.3562 36.5H64.8957Z"
                                  stroke="#fff" stroke-width="1"></path>
                              </svg>
                            </div>
                            <p class="text-light fz-20 fw-300">
                              Welcome to Axel Cyber Enterprises. We are
                              excited you have chosen to work with our
                              company. At Axel Cyber, we provide top notch
                              services for our clients and ensure total client
                              satisfaction.
                            </p>
                            <div class="info mt-30">
                              <h6 class="mr-20">Ogunkanmi Mofeoluwa</h6>
                              <!-- <i>-</i> -->
                              <span class="opacity-7 ml-20 main-color">Chief Executive Officer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ==================== End Testimonials ==================== -->

    <!-- ==================== Start Mission ==================== -->

    <section class="number-sec section-padding">
      <div class="container">
        <div class="sec-head text-center mb-80">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-9">
              <h3 class="main-color">Our Mission</h3>
              <p>
                To meet and surpass customer expectations by pushing the
                boundaries of IT services and working processes, both
                virtually and physically with the use of cutting edge
                organization and workflow management that ensures high
                completion rate and work efficiency. <br />
                <br />
                To curate unique employee experiences by providing a hybrid
                and conducive working environment for our employees that is
                safe and fun.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="item sm-mb50">
              <span class="icon opacity-7 pe-7s-cash"></span>
              <h6 class="main-color">
                <span class="">Budget-friendly</span>
              </h6>
              <p class="wow txt" data-splitting>
                Our services are budget friendly and we are open to reasonable
                negotiations.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item sm-mb50">
              <span class="icon opacity-7 pe-7s-medal"></span>
              <h6 class="main-color">
                <span class="">Completion Rate</span>
              </h6>
              <p class="wow txt" data-splitting>
                We have a huge completion rate with the services we provide
                our clients.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <span class="icon opacity-7 pe-7s-portfolio"></span>
              <h6 class="main-color">
                <span class="">Job efficiency</span>
              </h6>
              <p class="wow txt" data-splitting>
                Axel values efficiency and we ensure projects are handled with
                great efficiency.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ==================== End Mission ==================== -->

    <!-- ==================== Start Vision ==================== -->

    <section class="process-line section-padding">
      <div class="container-xxl">
        <div class="sec-head text-center mb-80">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-9">
              <h3 class="" style="color: #8c52ff">Our Vision</h3>
              <p>
                Axel Cyber is a company committed to its vision to be ‘the
                best information technology company in the world’. We are a
                customer-centric company that prioritizes Efficiency and
                Innovation, to deliver the very best experience to our
                customers, employees and shareholders.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="item">
              <span class="numb stroke fz-70 fw-800 opacity-1" style="color: #8c52ff">01</span>
              <h6 class="mb-15" style="color: #8c52ff">Transparency</h6>
              <p>
                We are open and transparent in handling your projects and we
                complete them within the planned timelines.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item">
              <span class="numb stroke fz-70 fw-800 opacity-1" style="color: #8c52ff">02</span>
              <h6 class="mb-15" style="color: #8c52ff">Flexibility</h6>
              <p>
                Our services are flexible and we provide follow-up maintenance
                services for certain projects.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item">
              <span class="numb stroke fz-70 fw-800 opacity-1" style="color: #8c52ff">03</span>
              <h6 class="mb-15" style="color: #8c52ff">
                Growth & Development
              </h6>
              <p>
                We value the growth and development of our clients and try to
                understand our clients’ goals in order to work with them
                perfectly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ==================== End Vision ==================== -->

    <!-- ==================== Start Portfolio ==================== -->

    <section class="portfolio agn section-padding">
      <div class="container-xxl">
        <div class="sec-head text-center mb-80">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-9">
              <h3 class="" style="color: #0067f5">About Us</h3>
              <p>
                Axel Cyber was founded 2021 by a bright-minded individual with
                the aim to bring together a team of professional creatives to
                offer technological services under a corporation. We offer a
                wide range of services to both individual clients,
                corporations and organizations.
              </p>
              <!-- <div class="mt-40">
                  <a
                    href="pg-about-us.html"
                    class="butn butn-bord butn-lg"
                    style="background-color: #0067f5; color: white"
                  >
                    <span class="fw-600 fz-12 text-u ls1">Learn More</span>
                  </a>
                </div> -->
            </div>
          </div>
        </div>

        <!-- <div class="row">
                    <div class="col-lg-7">
                        <div class="sec-head mb-80">
                            <h3 class="fw-800">
                                <span class="stroke">Portfolio</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="gallery max-margin">

                    <div class="row">

                        <div class="col-md-6 items mb-100 wow fadeInUp" data-wow-delay=".4s">
                            <div class="item-img">
                                <a href="project-details.html" class="imagee wow">
                                    <img src="/img/works/fullstack.jpg" alt="image">
                                </a>
                                <span class="sub-title tag mb-0">Axel Cyber</span>
                            </div>
                            <div class="info mt-30 pb-30 bord-thin-bottom bord-light d-flex align-items-center">
                                <h6><a href="project-details.html">Full Stack Development</a></h6>
                                <a href="project-details.html" class="arow-link">
                                    <img src="/img/icons/right-arrow1.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 items mb-100 wow fadeInUp toup" data-wow-delay=".4s">
                            <div class="item-img">
                                <a href="project-details.html" class="imagee wow">
                                    <img src="/img/works/uiux.jpg" alt="image">
                                </a>
                                <span class="sub-title tag mb-0">Axel Cyber</span>
                            </div>
                            <div class="info mt-30 pb-30 bord-thin-bottom bord-light d-flex align-items-center">
                                <h6><a href="project-details.html">UI/UX Design</a></h6>
                                <a href="project-details.html" class="arow-link">
                                    <img src="/img/icons/right-arrow1.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 items wow fadeInUp" data-wow-delay=".4s">
                            <div class="item-img">
                                <a href="project-details.html" class="imagee wow">
                                    <img src="/img/works/video.jpg" alt="image">
                                </a>
                                <span class="sub-title tag mb-0">Axel Cyber</span>
                            </div>
                            <div class="info mt-30 pb-30 bord-thin-bottom bord-light d-flex align-items-center">
                                <h6><a href="project-details.html">Video Editing/Animation</a></h6>
                                <a href="project-details.html" class="arow-link">
                                    <img src="/img/icons/right-arrow1.png" alt="">
                                </a>
                            </div>
                        </div>

                        <!-- <div class="col-md-6 items wow fadeInUp" data-wow-delay=".4s">
                            <div class="item-img">
                                <a href="project-details.html" class="imagee wow">
                                    <img src="/img/works/5/4.jpg" alt="image">
                                </a>
                                <span class="sub-title tag mb-0">Design ART</span>
                            </div>
                            <div class="info mt-30 pb-30 bord-thin-bottom bord-light d-flex align-items-center">
                                <h6><a href="project-details.html">Character Design</a></h6>
                                <a href="project-details.html" class="arow-link">
                                    <img src="/img/icons/right-arrow.png" alt="">
                                </a>
                            </div>
                        </div>

                    </div>

                </div> -->
      </div>
    </section>

    <!-- ==================== Start services box ==================== -->

    <!-- <section class="serv-bg-box toup-100">
        <div class="container-xxl">
          <div class="row">
            <div class="col-lg-7">
              <div class="sec-head mb-80">
                <h3 class="fw-800">
                  <span class="" style="color: #0067f5">Portfolio</span>
                </h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-4 col-md-6 item current d-flex align-items-end"
              data-tab="tab-1"
            >
              <div class="cont">
                <h5 class="fw-700">Portfolio Design for Ryda</h5>
                <p>
                  Creating a higher spacing and how people move through a unique
                  and impactful campaign.
                </p>
                <span class="more mt-30" style="color: #0067f5">
                  <a href="fullstack.html">View Project</a>
                </span>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 item d-flex align-items-end"
              data-tab="tab-2"
            >
              <div class="cont">
                <h5 class="fw-700">
                  Full Stack Development of Axel Cyber Promotions
                </h5>
                <p>
                  Get a regulatory oneven an enterprises such she and the got
                  the did attributing and pushed.
                </p>
                <span class="more mt-30" style="color: #0067f5">
                  <a href="uiux.html">View Project</a>
                </span>
              </div>
            </div>
            <div class="col-lg-4 item d-flex align-items-end" data-tab="tab-3">
              <div class="cont">
                <h5 class="fw-700">Freelance Video Editing Project</h5>
                <p>
                  Spaces of each debt in the digital world can help you with
                  overall simplest authentic.
                </p>
                <span class="more mt-30" style="color: #0067f5">
                  <a href="video.html">View Project</a>
                </span>
              </div>
            </div>
            <div class="col-12 chan-img" data-overlay-dark="5">
              <div
                class="img bg-img current"
                id="tab-1"
                data-background="/img/works/fullstack.jpg"
              ></div>
              <div
                class="img bg-img"
                id="tab-2"
                data-background="/img/works/uiux.jpg"
              ></div>
              <div
                class="img bg-img"
                id="tab-3"
                data-background="/img/works/video.jpg"
              ></div>
            </div>
          </div>
        </div>
      </section> -->

    <section class="slider slider-prlx box-slide">
      <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="bg-img valign" data-background="/img/works/fullstack.jpg" data-overlay-dark="6">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-10">
                    <div class="caption text-center">
                      <h1 class="fw-700">Dev Team</h1>
                      <div class="mt-40">
                        <a href="" class="butn butn-bg butn-lg">
                          <span class="fw-600 fz-12 text-u ls1 text-dark">View Projects</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-img valign" data-background="/img/works/uiux.jpg" data-overlay-dark="6">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-10">
                    <div class="caption text-center">
                      <h1 class="fw-700">Design Team</h1>
                      <div class="mt-40">
                        <a href="" class="butn butn-bg butn-lg">
                          <span class="fw-600 fz-12 text-u ls1 text-dark">View Projects</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-img valign" data-background="/img/works/video.jpg" data-overlay-dark="6">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-10">
                    <div class="caption text-center">
                      <h1 class="fw-700">Video Editing Team</h1>
                      <div class="mt-40">
                        <a href="" class="butn butn-bg butn-lg">
                          <span class="fw-600 fz-12 text-u ls1 text-dark">View Projects</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- slider setting -->
        <div class="setone">
          <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
            <i class="fas fa-chevron-right"></i>
          </div>
          <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
            <i class="fas fa-chevron-left"></i>
          </div>
        </div>
      </div>
    </section>

    <!-- ==================== End services box ==================== -->

    <!-- ==================== End Portfolio ==================== -->
    <!-- ==================== Start Teams ==================== -->

    <!-- <section class="teams section-padding">
        <div class="container-xxl">
          <div class="row">
            <div class="col-lg-12">
              <div class="sec-head mb-80">
                <h3 class="fw-800 fz-28" style="text-align: center">
                  <span class="stroke">Team</span> Leads
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="container-xxl">
          <div class="row max-margin">
            <div class="col-lg-4 col-md-6 lg-marg mt-10">
              <div class="item md-mb50">
                <div class="img">
                  <img
                    src="/img/team/t1.jpg"
                    alt=""
                    style="
                      -webkit-clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                      clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                    "
                  />
                </div>
                <div class="info mt-30">
                  <h6>Adeyefa Olayinka</h6>
                  <span class="sub-title mb-0 mt-10 opacity-7">CEO</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 lg-marg mt-50">
              <div class="item md-mb50">
                <div class="img">
                  <img
                    src="/img/team/t2.jpg"
                    alt=""
                    style="
                      -webkit-clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                      clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                    "
                  />
                </div>
                <div class="info mt-30">
                  <h6>Ogunkanmi Mofeoluwa</h6>
                  <span class="sub-title mb-0 mt-10 opacity-7">CTO</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 lg-marg">
              <div class="item md-mb50">
                <div class="img">
                  <img
                    src="/img/team/t3.jpg"
                    alt=""
                    style="
                      -webkit-clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                      clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                    "
                  />
                </div>
                <div class="info mt-30">
                  <h6>Yisau Abdussalam</h6>
                  <span class="sub-title mb-0 mt-10 opacity-7">CMO</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 lg-marg mt-10">
              <div class="item md-mb50">
                <div class="img">
                  <img
                    src="/img/team/t4.jpg"
                    alt=""
                    style="
                      -webkit-clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                      clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                    "
                  />
                </div>
                <div class="info mt-30">
                  <h6>Konu Ebunoluwa</h6>
                  <span
                    class="sub-title mb-0 mt-10 opacity-7"
                    style="
                      -webkit-clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                      clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                    "
                    >COO</span
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 lg-marg mt-50">
              <div class="item sm-mb50">
                <div class="img">
                  <img
                    src="/img/team/t3.jpg"
                    alt=""
                    style="
                      -webkit-clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                      clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                    "
                  />
                </div>
                <div class="info mt-30">
                  <h6>Olumide Omisakin</h6>
                  <span class="sub-title mb-0 mt-10 opacity-7">
                    Director of Advertising & Logistics</span
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 lg-marg">
              <div class="item">
                <div class="img">
                  <img
                    src="/img/team/t1.jpg"
                    alt=""
                    style="
                      -webkit-clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                      clip-path: polygon(
                        50% 0%,
                        100% 25%,
                        100% 75%,
                        50% 100%,
                        0% 75%,
                        0% 25%
                      );
                    "
                  />
                </div>
                <div class="info mt-30">
                  <h6>Kufo Tomisin</h6>
                  <span class="sub-title mb-0 mt-10 opacity-7"
                    >Video and Photography Specialist</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

    <!-- ==================== End Teams ==================== -->
  </main>

  <!-- ==================== Start Footer ==================== -->

  <footer class="crv-footer sub-bg section-padding pb-0">
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-7">
          <div class="cal md-mb50">
            <h3 class="fw-800">
              We are Upper Echelon
              <span class="mt-10 l-block"><a href="contact.html"><span class="stroke ls5">Contact us</span>.</a>
              </span>
            </h3>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end">
          <div class="subs full-width">
            <form action="https://formsubmit.co/manonfireeverytime@gmail.com" method="POST">
              <div class="form-group">
                <input type="email" placeholder="Your Email" name="email_subscribe" />
                <input type="hidden" name="_captcha" value="false" />
                <input type="hidden" name="_next" value="https://axelcyber.com/index.html" />
                <input type="hidden" name="_captcha" value="false" />
                <button type="submit" class="sub-title mb-0">
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-footer pb-50 pt-50 mt-80 bord-thin-top">
      <div class="container-xxl">
        <div class="row">
          <div class="col-lg-6">
            <div class="horizontal-link fz-13">
              <ul class="rest">
                <li class="mr-50">
                  <div class="logo icon-img-70">
                    <a href="https://axelcyber.com">
                      <img src="/img/logooo.png" alt="" />
                    </a>
                  </div>
                </li>
                <li class="mr-30">
                  <a href="about.html">About Us</a>
                </li>
                <li class="mr-30">
                  <a href="portfolio.html">Portfolio</a>
                </li>
                <!-- <li class="mr-30">
                                    <a href="blog.html">Blog</a>
                                </li> -->
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="copyrights full-width d-flex justify-content-end">
              <p class="fz-13">© 2022 Axel Cyber Enterprises</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ==================== End Footer ==================== -->

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <!-- jQuery -->
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/jquery-migrate-3.4.0.min.js"></script>

  <!-- plugins -->
  <script src="/js/plugins.js"></script>

  <!-- custom scripts -->
  <script src="/js/scripts.js"></script>

  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/three.min.js"></script>
  <script src="/js/TweenMax.min.js"></script>
  <script src="/js/hover-effect.umd.js"></script>
  <script src="/js/hover-effect-script.js"></script>
  
  <!-- BotPress Chatbot -->
  <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
  <script src="https://mediafiles.botpress.cloud/6e4cadde-c6c1-4f1c-a011-1bb91eafe72e/webchat/config.js" defer></script>

</body>

</html>